<%- include('partials/header') %>

<div class="container mt-5">
  <h1 style="text-align: center; color: #333;">Registration Successful!</h1>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">

          <h4>Congratulations, <%= user.firstname %> <%= user.lastname %>!</h4>
          <p>Your registration was successful.</p>
          <p><strong>Email:</strong> <%= user.username %></p>
          <p><strong>Date of Birth:</strong> <%= user.dob.toDateString() %></p>
          <p><strong>Gender:</strong> <%= user.gender %></p>
          <p><strong>Contact:</strong> <%= user.contact %></p>

          <a href="/login" class="btn btn-dark">Login</a>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
